@font-face {
  font-family: 'DMSans';
  src: url('assets/DMSans-VariableFont_opsz\,wght.ttf');
}

body {
  background-color: #ffffff;
  font-family: 'DMSans', sans-serif;
}

h1 {
  font-size: 48px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 20px;
}